@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');


*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body

{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.btn

{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.btn .play

{
    position: relative;
    width: 80px;
    height: 80px;
    background: #ed1b99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #ed1b99;
    transition: 0.5s;
}


.btn.active .play 

{
    box-shadow: 0 0 0 150vh #ed1b99;
}


.btn .play::before

{
    content: '';
    position: absolute;
    border: 25px solid #ed1b99;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);
}


.btn p

{
    font-weight: 500;
    font-size: 1em;
    color:#ed1b99;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.clip

{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 90%;
    height: 90%;
    display:flex;
    justify-content:top;
    align-items: top;
    z-index: 1000;
    transition: 0.5s;
}

.clip.active 

{
    transition-delay:0.5s;
    transform: translate(-50%,-50%) scale(1);
}




.clip video

{
    width: 100%;
    outline: none;
    border: 0px solid #ffffff;
    box-shadow: 6 px 6px rgba(0,0,0,0.25);
}

.clip .close 

{
    position:absolute ;
    top:3px;
    right: 3px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}




/* responsive code  */

@media (max-width: 991px) 
@media (max-height: 1800px) 
{
    .clip video

{
    max-width: 90%;
max-height:90;
}
}
